body {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-high {
    display: flex;
}

.mobile-nav {
    box-shadow: 2em 2em 3em black;
    display: none;
}

.button-custom {
    width: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + main {
    margin-top: 6em;
}

.container-fluid {
    box-shadow: 7em 7em 8em black;
}

/* Ekstra large */
@media (max-width:2560px){
    
}

/* laptop */
@media (max-width:992px){
    html{
        font-size: 60%;
    }
    .mobile-nav {
        visibility: hidden;
    }
}

@media (max-width: 1024px) {
    #img svg {
        width: 50px;
        height: 50px;
    }

    html {
        font-size: 55%;
    }

    .contents {
        font-size: 130%;
    }
    .mobile-nav {
        visibility: hidden;
    }
}

@media (max-width:900px){
    .contents {
        font-size: 100%;
    }
    
}

/* tablet */
@media (max-width:800px){
    .mobile-nav {
        visibility: hidden;
    }
    .navbar .nav-link{
        text-align: center;
    }
    
}

@media (max-width: 769px) {
    .contents svg {
        width: 15px;
        height: 15px;
    }
    #name-mp p {
        margin-bottom: 2em;
    }
    html {
        font-size: 60%;
    }
    .navbar-high {
        display: none;
    }
    .mobile-nav {
        margin-bottom: 2em;
        visibility: visible;
        display: flex;
    }
    .mobile-main {
        width: 70em;
        justify-content: center;
        margin: auto;
    }
    .navbar-high {
        visibility: hidden;
    }
}

@media (max-width:672px) {
    .mobile-main {
        width: 60em;
    }
}
    
    

@media (max-width:576px){
    html {
        font-size: 70%;
    }
    .mobile-main {
        width: 40em;
    }
    .mobile-nav {
        visibility: visible;
    }
    #name {
        margin-bottom: 2em;
    }
    #name-mp p {
        margin-bottom: 1em;
        font-size: small;
    }
    html{
        min-height: 0px;
    }
}

@media (max-width:426px) {
    .mobile-main {
        width: 30em;
    }
    .mobile-nav {
        visibility: visible;
    }
}